.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-container input,
.contact-container textarea {
    width: 21rem;
}

.contact-container textarea {
    resize: none;
    height: 9em;
}