.nav-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 1px 0.1px 10px var(--shadow-primary-color);
    background: white;
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 99;
}

.nav-bar {
    align-items: center;
    justify-items:center;
    margin: 1px
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    font-size: 1.3rem;
    list-style: none;
    padding: 0;
}

.nav-bar img {
    width: 60px;
}